/* body {
  background-image: url(../images/04.png);
  background-color: #e5d9ea !important;
  background-size: 300px;
}

.bg-light-pink {
  background-color: #e5d9ea;
} */

.welcome-container {
  background-color: #f4ebf4;
  

}

.hf {
  background-color: #f4d3cf;
}

